@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --blue-color: #19333F;
    --dark-blue-color: #07232B;
    --text-color: #B8B8B8;
    --border-r: 5px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden;
}

img {
    width: 100%;
}

a {
    text-decoration: none !important;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

li {
    list-style: none;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar-brand {
    margin: 0 !important;
}

#contact-btn {
    background-color: var(--blue-color);
    color: white;
    border-radius: var(--border-r);
}

#contact-btn-white {
    background-color: white;
    color: var(--blue-color);
    border-radius: var(--border-r);
}

#know-more {
    color: white;
    text-decoration: underline !important;
}


/* -----------------------------NavBar---------------------------- */

.navbar-manu,
.navbar-social,
.navbar-brand {
    flex: 1 !important;
}


/* 
.navbar-brand {
    flex: 2 !important;
} */

@media only screen and (max-width: 600px) {
    .navbar-manu,
    .navbar-brand,
    .navbar-social {
        flex: none !important;
    }
    div#navbarTogglerDemo03 {
        order: 2;
    }
}

.navbar-brand a img {
    width: 90px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--blue-color) !important;
    font-size: 15px;
}

.navbar-social li i {
    color: var(--blue-color) !important;
    font-size: 17px;
}


/* -----------------------------Hero---------------------------- */

.hero {
    position: relative;
    width: 100%;
    /* height: calc(100vh - 130px) */
    height: 100vh;
    background-color: white;
}

.hero::before {
    Content: '';
    Position: absolute;
    Bottom: 0;
    Width: 100%;
    Height: 100px;
    background: linear-gradient(to top, #07232B, transparent);
    z-index: 100000;
}

.hero img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

#hero-text {
    z-index: 10px;
    color: var(--blue-color);
    bottom: -62px;
}

.test {
    background-color: var(--dark-blue-color);
}


/* -----------------------------About Us---------------------------- */

.about-us {
    position: relative;
    background-color: var(--dark-blue-color);
}

.about-us img {
    width: 70%;
    border: 1px solid white;
    border-radius: var(--border-r);
}

.about-text,
.about-img {
    flex: 1;
}

.about-text p {
    color: var(--text-color);
    line-height: 35px;
    font-size: 18px;
}


/* -----------------------------Services---------------------------- */

.services {
    background-color: var(--dark-blue-color);
    position: relative;
}

.services #rotate {
    width: 450px;
    position: absolute;
    left: -150px;
    top: -130px;
}

@media screen and (max-width: 1500px) {
    .services #rotate {
        width: 350px;
        position: absolute;
        left: -265px;
        top: -130px;
    }
}

.services .title img {
    width: 80px;
    transform: rotate(90deg);
    opacity: 0.5;
}

.servicr-boxs .box {
    border: 1px solid white;
    border-radius: var(--border-r);
}

.servicr-boxs .box i,
h3 {
    color: white;
}

.servicr-boxs .box i {
    font-size: 50px;
}

.servicr-boxs .box p {
    color: var(--text-color);
}


/* -----------------------------statistics---------------------------- */

.statistics {
    background-color: var(--dark-blue-color);
}

.statistics #rotate {
    width: 370px;
    position: absolute;
    right: -75px;
    top: -135px;
}

@media screen and (max-width: 1500px) {
    .statistics #rotate {
        width: 259px;
        position: absolute;
        right: -75px;
        top: -115px;
    }
}

.statistics .container div h2 {
    font-size: 100px;
}

.statistics .container div p {
    color: var(--text-color);
}


/* -----------------------------Work---------------------------- */
.worK .container .title h1 {
    color: var(--dark-blue-color) !important;
}

.worK .title p {
    color: var(--blue-color) !important;
}

.work .title img {
    width: 80px;
    transform: rotate(270deg);
    opacity: 0.5;
}

.work-tabs li.active {
    background-color: var(--dark-blue-color);
    border-radius: var(--border-r);
}

.work-tabs li a.active {
    color: white !important;
}

.work-tabs li a {
    color: var(--dark-blue-color);
}

.work-imgs img.work-img:hover {
    /* border: 5px solid var(--blue-color); */
    transform: scale(1.1);
    animation-delay: 1s;
    transition: all 0.4s ease-in-out;
}

/* -----------------------------mockups---------------------------- */

.mockups {
    background-color: var(--blue-color);
    height: 100vh;
    overflow: hidden;
}

.mockups .mockups-imgs img {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    object-fit: cover;
    pointer-events: none;
}

.mockups .mockups-text {
    position: absolute;
    right: 0;
    top: 45%;
    width: 80%;
    object-fit: cover;
    pointer-events: none;
}


/* -----------------------------Footer---------------------------- */

footer form .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid var(--text-color);
}

footer form .btn {
    background-color: var(--blue-color);
    color: white;
}

footer #sahab {
    position: absolute;
    left: 0;
    bottom: 100px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}

footer .footer-imgs {
    padding-top: 150px;
}

footer .footer-imgs img {
    position: absolute;
    left: 0;
    bottom: -0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

footer .footer-imgs img#prt6 {
    transform: translateY(0px);
    animation: float 2s ease-in-out infinite !important;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

footer .footer-links li a {
    color: var(--blue-color);
    text-decoration: underline !important;
}

.footer-title #logo {
    width: 120px;
    z-index: 100;
}

footer .copyright {
    bottom: 0;
    right: 0;
    z-index: 10;
}

footer .copyright p {
    color: var(--text-color);
}